body {
    text-align: center;
}
.run-button {
    margin-top: 15px;
    margin-bottom: 20px;
}
table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
td {
    height: 30px;
    border: 1px solid #000;
    width: 310px;
}
